.table-result-wrap
    position: relative
    padding-bottom: 33px
    z-index: 2
    &:after
        content: ""
        position: absolute
        bottom: -7px 
        left: 0
        right: 0
        height: 7px
        background: url(../img/section-bg2.png) 0 0 repeat 
    .l-container
        position: relative
.table-result-wrap__in
    overflow-x: auto
    padding-left: 26px
    +scrollbar
        width: 8px
        height: 8px
        overflow: hidden
        background: #ececec
    +scrollbar-thumb
        border: 1px solid #2694bf
        background: #2babdb
    +scrollbar-track-piece 
        width: 8px 
        height: 8px
.table-result
    width: auto
    table-layout: fixed
    color: #2b2b2b 
    border: 1px solid rgba(220,220,220,.68)
    td,th
        border-left: 1px solid #ebecec 
        border-top: 1px solid #ebecec 

.table-result__head
    th
        padding: 9px 
        height: 50px
        text-align: center
        +fbold
        font-size: 11px
        text-transform: uppercase
        vertical-align: middle
        +box-shadow(-1px 0 0 #fff)
        &:first-child
            width: 27px
        &:last-child
            width: 27px    
.table-result__body
    font-size: 12px
    +fmed
    td
        padding: 9px 
        text-align: center
        +box-shadow(-1px 0 0 #fff, inset 0 1px 0 #fff)
        //background: rgba(250,248,248,.7)
        vertical-align: middle
        &:first-child
            text-align: center
            border-left: 0
.table-result_main
    td
        +g(#fafbfb, #f5f9fb)
    th
        +g(#f8fdff, #e4f7fd)
    tr
        &:nth-child(2n)
            td
                +g(#fdfeff, #f8fdfe)
.table-result_fixed
    position: absolute
    top: 0
    left: 0
    width: 27px
    table-layout: auto
    th
        +g(rgba(#f8fdff, .9), rgba(#e4f7fd, .9))     
    td
        width: 27px
        padding: 9px 0
        +g(rgba(#fafbfb, .9), rgba(#f5f9fb, .9))
    tr
        &:nth-child(2n)
            td
                +g(rgba(#fdfeff, .9), rgba(#f8fdfe, .9))