.landing-page
	.l-layout
		margin-bottom: -250px
	.push
		height: 250px
	.footer
		min-height: 250px
		.l-container
			min-height: 250px
.article
	padding-right: 15px
	+clr
	img
		float: left
		margin: 0 20px 10px 0 
	ul
		margin-bottom: 5px
	li
		&:before
			content: "-"
			display: inline-block
			margin-right: 6px 
	
.article_rules
	margin-bottom: 70px
	.btn
		margin: 29px 0 15px
	.link-more
		margin: 14px 0 
.to-center
	text-align: center