.article
	padding-right: 15px
	letter-spacing: .4px 
	&:last-child
		margin-bottom: 46px
	p
		overflow: hidden
	+clr
	img
		float: left
		margin: 0 20px 10px 0 
	ul
		margin-bottom: 5px
	li
		&:before
			content: "-"
			display: inline-block
			margin-right: 6px 
	.btn
		margin: 29px 0 7px
	.link-more
		margin: 8px 0 14px
.article__img
	float: left
	padding-top: 5px
	width: 340px
	text-align: center
	margin-right: 20px
	div
		display: block
	img
		float: none
		max-width: 100%
		margin: 0 0 20px
.page-title
	margin: 30px 0 24px
	font-size: 20px
	+fbold
	text-transform: uppercase
		

.item-info	
	margin-bottom: 30px
	img
		float: none
.item-info__img
	display: table-cell
	vertical-align: middle
	width: 340px
	padding-right: 20px
	text-align: center
	img
		vertical-align: middle
		margin: 0
.item-info__text
	display: table-cell
.article_rules
	margin-bottom: 70px
	
.to-center
	text-align: center
	clear: both
.img-box
	padding: 26px 0 0 
	text-align: center
	.img-box__in
		margin: 0 auto 
		text-align: justify
		width: 61%
		&:after
			content: ""
			display: inline-block
			width: 100%
			height: 0
			visibility: visible 
		a
			margin: 0
	a
		display: inline-block
		margin: 0 0 10px 30px 
		&:first-child
			margin-left: 0
	img
		+gray
		vertical-align: middle
		+tr(all .2s linear)
		&:hover
			+gray-zero
.img-box_no-padding
	padding-top: 0

.step
	position: relative
	display: inline-block
	margin-bottom: 20px
	height: 71px
	&:before
		content: ""
		position: absolute
		top: 0
		left: -10px
		+arr(10,10,#6dcdec,br) 
	&:after
		content: ""
		position: absolute
		bottom: 0
		right: -10px
		+arr(10,10,#6dcdec,tl)
	.is-active 
		background: #6dcdec 
		border-color: #45c1e9  
		&:last-child
			i
				&:before
					width: 100%
					background: #fe783a
		i
			&:before
				content: ""
				position: absolute
				left: 0
				top: 0
				bottom: 0
				width: 50%
				background: #5bc2e4 
	.is-full
		background: #6dcdec      
		border-color: #45c1e9
		i
			&:before
				content: ""
				position: absolute
				left: 0
				top: 0
				bottom: 0
				width: 100%
				background: #69cdd1 
.step__item
	float: left
	width: 150px
	height: 69px
	line-height: 69px
	border: 1px solid #a2e0f4 
	border-left: 1px solid #45c1e9
	border-right: 0
	background: #b6e6f5
	text-align: center
	+fmed
	font-size: 16px
	color: #fff
	text-transform: uppercase 
	&:last-child
		border-right: 0
	i
		position: relative
		margin-left: 14px
		font-style: normal
		width: 43px
		height: 43px
		border: 2px solid #fff
		+border-radius(50%)
		line-height: 43px
		overflow: hidden
		font-size: 25px
	em
		font-style: normal
		position: relative
		z-index: 2
		display: inline-block
	span,i
		display: inline-block
		vertical-align: middle
	span
		line-height: 1.2 
.step_nav
	.step__item
		background: #6dcdec 
		border-top: 1px solid #45c1e9
		border-bottom: 1px solid #45c1e9
		&:last-child
			border-right: 1px solid  #45c1e9
	a
		display: inline-block
		vertical-align: middle
		padding: 0 17px
		text-align: left 
		color: #fff 
	.is-active,
	.ui-tabs-active  
		background: #fff
		a
			color: #313131 
.ui-tabs-panel
	+tr(all .2s linear)  
.form
	margin-bottom: 75px
	width: 342px
	+clr
	.input-wrap
		margin-bottom: 16px
	.btn-link,
	.btn
		margin-top: 18px
		float: right
	.input_textarea
		height: 62px
.form_width
	width: 100%
	.wrap
		clear: both
	.btn_s
		float: left
		margin-left: 8px
		padding: 11px 20px 10px 
		&:first-child
			margin-left: 0
.form__left,       
.form__right
	float: left
	width: 411px
	+box
.form__left
	padding-right: 69px
	margin-right: -1px
	border-right: 1px solid #eee 
.form__right
	padding-left: 68px
	border-left: 1px solid #eee 
	
.rating
	margin-bottom: 31px
	padding-top: 11px
	+clr
.rating__left
	float: left
	margin-right: 58px
	width: 184px
	.btn
		width: 100%
.logo-item
	width: 182px
	height: 287px
	line-height: 287px
	text-align: center
	border: 1px solid #dedede
	border-bottom: 0
	img
		vertical-align: middle
		max-width: 100%
		height: auto
		max-height: 100%
.rating__right
	padding: 7px 0 0 10px
	overflow: hidden
	+fbold
	font-size: 12px
	text-transform: uppercase
	span
		color: #ff772e 
		+fmed
		font-size: 30px
	.soc
		margin-left: -7px
.rating__current
	display: inline-block
.rating__max
	position: relative
	display: inline-block
	margin-left: 14px
	padding-left: 21px
	&:before
		content: ""
		position: absolute
		left: 0
		top: -15px
		+s(sep) 
	span
		font-size: 13px

.rating__list
	float: left
	margin: 20px 0 14px
	padding-left: 45px
	width: 300px
	border-left: 1px solid #f3f3f3
	&:first-child
		width: 222px
		padding-left: 0
		border-left: 0
	li
		margin-top: 13px
		&:first-child
			margin-top: 0
	div
		margin-top: 2px
		font-size: 30px
		+fbold
.tab-group
	margin-bottom: 70px
.poll
	color: #565656 
	font-size: 14px
	.btn
		margin-top: 4px
.poll__question
	margin-bottom: 15px
	font-size: 20px
	text-transform: uppercase
	+flight 
.item-title
	margin-bottom: 15px
	text-transform: uppercase
	+fmed
.form_no-border
	.form__right
		border: 0
	.form__left
		border: 0
		.input-wrap
			&:last-child
				border-bottom: 1px solid #efefef
				padding-bottom: 20px 

.img-upload__title
	margin-bottom: 12px
	clear: both
	text-transform: uppercase
	+fmed
.img-upload__item
	position: relative
	width: 102px
	display: inline-block
	vertical-align: top
	color: #565656
	font-size: 12px
	+fmed 
	div	
		margin-bottom: 10px
		width: 100px
		height: 100px
		border: 1px solid #eaeaea
	img
		display: block
		margin: 0 auto 
		max-width: 100%
		max-height: 100%
		height: auto
	.btn-del
		position: absolute
		top: 6px
		right: 6px
		
.news-wrap
	margin-right: -120px
.news
	position: relative
	margin: 0 95px 17px 0
	padding-bottom: 30px
	display: inline-block
	vertical-align: top
	width: 420px  
	font-size: 12px
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: -50px
		width: 1px
		background: #ececec  
	.input
		height: 63px
		color: #565656
		font-size: 24px
		text-transform: uppercase
		+flight 
	.input_textarea
		height: 145px
		font-size: 14px
		+freg
		font-size: 12px
		text-transform: none
	.btn,
	.btn-link
		padding: 11px 5px 10px 
		width: 154px
		height: 39px
	
.news_add
	padding-top: 22px
	border-top: 1px solid #efefef 
	&:after
		display: none
.news__title
	margin-bottom: 6px
	color: #565656
	font-size: 24px
	text-transform: uppercase
	+flight   
	&.input
		padding-top: 17px
.news__title,
.news__text
	&:focus
		outline: none   
.news__btn
	text-align: right
	margin-top: 20px
	.btn-link
		margin-right: 16px
.btn-edit
	display: inline-block
	vertical-align: middle
	margin: -3px 0 0 5px
	+s(edit)
.img-templ-wrap
	+clr
	margin-right: -30px
	+ .btn
		margin-top: 11px
.img-templ
	position: relative
	float: left
	margin: 0 20px 20px 0
.img-templ_web
	display: inline-block
	vertical-align: top
	float: none
	width: 340px
	+clr
	.img-templ__pic
		float: left
		margin-right: 20px
	.img-templ__info
		overflow: hidden
.img-templ__pic
	height: 100px
	width: 100px
	line-height: 100px
	text-align: center
	overflow: hidden
	img
		display: inline-block
		vertical-align: middle
		max-width: 100%
		max-height: 100%
		height: auto
	a
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(#ff5b5b, 0.64)
		+opacity(0)
		+tr(opacity .2s linear)
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -16px 0 0 -16px
			+s(download) 
		&:hover
			+opacity(1)
.img-templ__info
	.input-wrap
		margin-top: 7px
	.input-label__text,
	.input
		+freg
.tab
	position: static !important
	
.write
	padding: 25px 15px 15px
	text-align: center
	background: url(../img/gray-bg.jpg) 0 0 repeat  
	.title_h4
		margin-bottom: 21px
		max-width: 400px
	.input-wrap
		margin: 0 auto 7px 
		width: 330px
	.input_textarea
		height: 117px
	.btn-link
		margin-top: 3px